.idea/
.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
sig/rbs_rails/

Gemfile.lock
gemfiles/*.lock
*.gem
.tool-versions
/.gem_rbs_collection/
rbs_collection.lock.yaml
