name: test

on: [push, pull_request]

jobs:
  tests:
    name: Run tests for (${{ matrix.ruby }} / Rails ${{ matrix.rails }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ "3.2", "3.3", "3.4", "4.0" ]
        rails: [ "7.2", "8.0", "8.1" ]
        exclude:
          - ruby: "4.0"
            rails: "7.2"
    env:
      MATRIX_RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install gems
        run: |
          gem install bundler
          bundle install
          bundle exec appraisal install
      - name: Run tests
        run: bundle exec appraisal rails_${MATRIX_RAILS_VERSION} ./bin/test
